* {   padding: 0;   margin: 0;}
body{
    background-color: #e6e6e6;
}
.main {
    width: 100%;
    margin: auto;
}
.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    margin-top: -20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.274);
    position: relative;
    z-index:1;
}
.header img{
    padding:20px 0;
}
.line{
    border-top-style: solid;
    border-color: #006bb3;
}
.navigation {
    width: 900px;
    overflow: hidden;
    margin: auto;
}
.navigation a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color:black;
}
.navigation a:hover{
    color:#006bb3;
}
.content{
    width:860px;
    background-color: white;
    margin:auto;
    margin-top: 25px;
    padding: 40px 10px 0px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: auto;
    
}
.content h2{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-style: solid;
    border-width: 2px;
}
.content a:hover{
    color: #383838;
}
.content a{
    color:black;
    text-decoration: none;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
  }
.slika{
    width:32%;
    padding-bottom: 5px;
    padding-left: 8px;
}
.slika img{
    width: 270px;
    height: 160px;
    margin-bottom: 10px;
    object-fit: fill;
    object-fit:cover;
}
.slika p{
    padding-bottom: 20px;
    font-weight: bold;
}
section{
    clear:left;
}
article a{
    color:black;
    text-decoration: none;
}
article a:active{
    color:#006bb3;
    text-decoration: none;
}
.footer{
    width:100%;
    background-color: #2a303b;
    padding:40px 0;
    margin:auto;
    margin-top: 25px;
}
.footer h4{
    width:880px;
    text-align: center;
    color:white;
    border-top-style:solid;
    border-width: 1px;
    border-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin:auto;
    padding-top:20px;
}
